@media only print {
        body * {
            display: none !important;
        }
        body:after {
            content: "Don't waste paper!";
        }
		.swiper-container{
			width:100%;
			height:100%;
		}
    }